@font-face {
    font-family: 'Playfair';
    src: url('PlayfairDisplay-Bold.eot');
    src: url('PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-Bold.woff2') format('woff2'),
        url('PlayfairDisplay-Bold.woff') format('woff'),
        url('PlayfairDisplay-Bold.ttf') format('truetype'),
        url('PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noe';
    src: url('NoeDisplay-Bold.eot');
    src: url('NoeDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('NoeDisplay-Bold.woff2') format('woff2'),
        url('NoeDisplay-Bold.woff') format('woff'),
        url('NoeDisplay-Bold.ttf') format('truetype'),
        url('NoeDisplay-Bold.svg#NoeDisplay-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Larsseit';
    src: url('Larsseit-Light.eot');
    src: url('Larsseit-Light.eot?#iefix') format('embedded-opentype'),
        url('Larsseit-Light.woff2') format('woff2'),
        url('Larsseit-Light.woff') format('woff'),
        url('Larsseit-Light.ttf') format('truetype'),
        url('Larsseit-Light.svg#Larsseit-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Larsseit';
    src: url('Larsseit.eot');
    src: url('Larsseit.eot?#iefix') format('embedded-opentype'),
        url('Larsseit.woff2') format('woff2'),
        url('Larsseit.woff') format('woff'),
        url('Larsseit.ttf') format('truetype'),
        url('Larsseit.svg#Larsseit') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Larsseit';
    src: url('Larsseit-Bold.eot');
    src: url('Larsseit-Bold.eot?#iefix') format('embedded-opentype'),
        url('Larsseit-Bold.woff2') format('woff2'),
        url('Larsseit-Bold.woff') format('woff'),
        url('Larsseit-Bold.ttf') format('truetype'),
        url('Larsseit-Bold.svg#Larsseit-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

